*{
  outline: 1px solid rgb(0,0,0);
  text-align: center;
  border:none;
}  
html{
  background-color: rgb(255,255,255);
  outline:none;
  height: 100%;
  width: 100%;
}

body{
  width:100vw;
  height: 219vw;
  margin: auto;
  
}
@media screen and (min-width:480px){
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px){ 

  body{
    width: 80vw;
    min-width:960px;
    height:58.33vw;
    min-height:700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}