header{
  width: 480px;
  height: 75px;
  clear:both;
}
nav{
  width: 480px;
  height: 150px;
  clear: both;
}
main{
  width: 480px;
  height: 830px;
  clear: both;
}
section{
  width: 480px;
  height: 125px;
  clear: both;
}
div  {
  width: 240px;
  height: 250px;
  float: left;
}
footer{
  width: 480px;
  height: 80px;
  clear: both;
}
#f{
  clear: right;
}
@media screen and (min-width: 768px){ 
  header{
    width: 960px;
    height: 100px;
    clear:both;
  }
  nav{
    width: 200px;
    height: 600px;
    float: left;
    clear: left;
  }
  main{
    width: 480px;
    height: 830px;
    clear: both;
  }
  section{
    width: 480px;
    height: 125px;
    clear: both;
  }
  div  {
    width: 240px;
    height: 250px;
    float: left;
  }
  footer{
    width: 480px;
    height: 80px;
    clear: both;
  }
}  