header{
  width: 100vw;
  height: 15.625vw;
}
nav{
  width: 100vw;
  height: 31.25vw;
}
main{
  width: 100vw;
  height: 172vw;
  display:flex;
  flex-wrap: wrap;
}
section{
  width: 100%;
  height: 15.06%;
}
div  {
  width: 50%;
  height: 30.12%;
}
footer{
  width: 100%;
  height: 9.64%;
  clear: both;
}

@media screen and (min-width: 768px){ 
  
  header{
    width: 100%;
    height: 14.29%;
    clear:both;
  }
  nav{
    width: 20.83%;
    height: 85.71%;
  }
  main{
    width: 79.17%;
    height: 85.71%;
    display: flex;
    flex-wrap: wrap;
  }
  section{
    width: 50%;
    height: 33.3%;
  }
  div  {
    width: 25%;
    height: 41.6%;
  }
  footer{
    width: 100%;
    height: 25.1%;
  }
}  